<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/chats">
    <ion-nav-view name="chats"></ion-nav-view>
  </ion-tab>

  <!-- User List Tab -->
  <ion-tab title="User List" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/userList">
    <ion-nav-view name="userList"></ion-nav-view>
  </ion-tab>

  <!-- Create New User Tab -->
  <ion-tab title="New User" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/user">
    <ion-nav-view name="user"></ion-nav-view>
  </ion-tab>


</ion-tabs>
